$icons-container-mxw: 1152px 
$icons-panel-bg: #dfdfff
$highlight-img-margin: 1rem
$highlight-img-padding: 2rem

.section
  &.icons-panel
    background: $icons-panel-bg
    .container
      max-width: $icons-container-mxw
  &.highlights
    .highlight-wrap
      +tablet
        padding: 0 $highlight-img-padding
    img
      margin: $highlight-img-margin 0
      max-height: 48px
